<p id="notice"><%= notice %></p>

<p>
  <b>Index:</b>
  <%= @property.index %>
</p>

<p>
  <b>Search:</b>
  <%= @property.search %>
</p>

<p>
  <b>Show:</b>
  <%= @property.show %>
</p>


<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
